<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="site.surui.web.webcourse.mapper.StudentMapper">

    <select id="selectAll" resultType="site.surui.web.webcourse.data.po.Score">
        SELECT *
        FROM score
        WHERE id in (SELECT max(id) FROM score GROUP BY sid)
    </select>

</mapper>

